*{
    margin: 0;
    padding: 0;
}

.parent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    /* align-items: center; */

}

.child-1{
    background-color: teal;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: 1px teal solid;
    color: white;
    font-weight: 800;
    /* text-align: center; */
    text-align: center;
    margin-left: 5px;
    margin-bottom: 5px;
}

.child-2{
    background-color: teal;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: 1px teal solid;
    color: white;
    font-weight: 800;
    text-align: center;
    margin-left: 5px;
    margin-bottom: 5px;   
}

.child-3{
    background-color: teal;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: 1px teal solid;
    color: white;
    font-weight: 800;
    text-align: center;
    margin-left: 5px;
    margin-bottom: 5px;   
}

.child-4{
    background-color: teal;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: 1px teal solid;
    color: white;
    font-weight: 800;
    /* text-align: center; */
    text-align: center;
    margin-left: 5px;
    margin-bottom: 5px;   
}

.child-5{
    background-color: teal;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: 1px teal solid;
    color: white;
    font-weight: 800;
    /* text-align: center; */
    text-align: center;
    margin-left: 5px;
    margin-bottom: 5px;   
}

.child-6{
    background-color: teal;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: 1px teal solid;
    color: white;
    font-weight: 800;
    /* text-align: center; */
    text-align: center;
    margin-left: 5px;
    margin-bottom: 5px;   
}
